<template>
    <h3>
        <slot />
    </h3>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
    @import "@/assets/scss/variables.scss";

    h3 {
        font-family: $font-family-secondary;
        font-size: $font-size-l;
        font-weight: 900;
        border-bottom: 5px solid $clr-primary;
        padding-bottom: 10px;
    }
</style>