<template>
    <div class="fhd-md-content-block" v-html="$md.render(content)">
    </div>
</template>

<script>
export default {
    props: {
        content: {
            type: String,
            required: true
        }
    }
}
</script>

<style lang="scss" scoped>

</style>