<template>
    <footer class="fhd-footer">
        <!-- Links part -->
        <div class="fhd-footer-links">
            <!-- Top part with logo -->
            <div class="fhd-footer-links-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            <img :src="famuHerniDesignLogoSrc" alt="FAMU Herní design logo" class="fhd-footer-logo d-none d-md-inline-block" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="fhd-footer-partners">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h5>Partneři</h5>
                            <div class="partners">
                                <a href="https://visiongame.cz/" target="_blank"><img class="vision" src="/images/partners/visiongame.png" alt="VisionGame.cz" /></a>
                                <a href="https://gda.cz/" target="_blank"><img src="/images/partners/gda.png" alt="GDA CZ" /></a>
                                <a href="https://gamedev.cuni.cz/" target="_blank"><img src="/images/partners/gamedevcuni.png" alt="GDA CZ" /></a>
                                <a href="https://www.soundsnap.com/" target="_blank"><img src="/images/partners/soundsnap.png" alt="SoundSnap" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main part with link columns -->
            <div class="fhd-footer-links-main">
                <div class="container">
                    <div class="row justify-content-end fhd-footer-links-main-cols">
                        <!-- CMS Managed sections -->
                        <div class="col-12 col-md-3" v-for="(section, idx) in menuSections" :key="`fhd-footer-menu-section-${idx}`">
                            <h5>{{ section.heading }}</h5>
                            <menu>
                                <li v-for="(item, itemIdx) in section.items" :key="`fhd-footer-menu-section-${idx}-item-${itemIdx}`">
                                    <a :href="item.link">{{ item.label }}</a>
                                </li>
                            </menu>
                        </div>
                        <!-- Kontakt section -->
                        <div class="col-12 col-md-3">
                            <h5>Kontakt</h5>
                            <p>
                                <strong>Katedra</strong><br>
                                Klimentská 6<br>
                                110 00 Praha 1<br>
                                hernidesign@famu.cz
                            </p>
                            <p>
                                <strong>Vedoucí katedry</strong><br>
                                Andrej Sýkora<br>
                                andrej.sykora@famu.cz
                            </p>
                            <p>
                                <strong>Tajemnice katedry</strong><br>
                                Monika Janovská<br>
                                monika.janovska@famu.cz<br>
                                Smetanovo nábř. 1012/2<br>
                                110 00 Praha 1
                            </p>
                            <div class="fhd-footer-links-main-socials">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/game_design_famu/" target="_blank">
                                            <img :src="instagramIconSrc" alt="Instagram profil" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/FamuHerniDesign " target="_blank">
                                            <img :src="fbIconSrc" alt="Facebook stránka" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/HerniDesign" target="_blank">
                                            <img :src="twitterIconSrc" alt="Twitter profil" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright and other info -->
        <div class="fhd-footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>
                            <img src="/images/opvvv/Logolink_OP_VVV_hor_barva_cz.jpg" alt="EÚ OPVVV" class="fhd-footer-links-eu">
                        </p>
                        <p>
                            Dostupné pod licencí <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.cs" target="_blank">Creative Commons BY-SA 4.0</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import famuHerniDesignLogoSrc from '@/assets/images/hd-logo-white.svg'
import fbIconSrc from '@/assets/images/icon-fb.svg'
import twitterIconSrc from '@/assets/images/icon-twitter.svg'
import instagramIconSrc from '@/assets/images/icon-instagram.svg'

const DEFAULT_DATA = {
    // Img srcs
    famuHerniDesignLogoSrc,
    fbIconSrc,
    twitterIconSrc,
    instagramIconSrc
}

export default {
    props: {
        menuContent: {
            type: Object,
            required: true
        }
    },

    computed: {
        menuSections () {
            return this.menuContent.sections || []
        }
    },

    data () {
        return Object.assign({}, DEFAULT_DATA)
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.fhd-footer {
    display: block;
}

.fhd-footer-links {
    background-color: #0C173C;
}

.fhd-footer-links-eu {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    margin-top: 0;
}

.fhd-footer-links-top {
    display: block;
    padding: 20px 0px;

    .container {
        height: 100%;
    }

    .row {
        height: 100%;
    }

    text-align: left;

    @include media-breakpoint-up(md) {
        text-align: center;
        border-bottom: 1px solid #242E50;
    }
}

.fhd-footer-partners {
    h5 {
        text-transform: uppercase;

        font-family: Archivo;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;

        color: #F4F5FB;
        opacity: 0.8;


        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            margin-top: 30px;
        }
    }

    .partners {
        padding-bottom: 15px;

        @include media-breakpoint-up(md) {
            text-align: center;
        }

        a img {
            max-width: 150px;
            margin: 10px 0px;
            @include media-breakpoint-up(md) {
                margin: 0px 15px;
            }
            display: inline-block;
        }

        a img.vision {
            max-width: 230px;
        }
    }

    @include media-breakpoint-up(md) {
        text-align: center;
        border-bottom: 1px solid #242E50;
        padding-bottom: 15px;
    }
}

.fhd-footer-logo {
    width: 75px;
}

.fhd-footer-links-main {
    display: block;

    @include media-breakpoint-up(md) {
        padding: 85px 0px;
    }

    // Menus
    menu {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: block;
            margin: 15px 0px;

            a {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                text-decoration-line: underline;
                color: #fff;
            }
        }

        margin-bottom: 30px;
    }

    // Typography
    h5 {
        text-transform: uppercase;

        font-family: Archivo;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #F4F5FB;
        opacity: 0.8;

        margin-bottom: 30px;
    }

    p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        color: #fff;
    }
}

.fhd-footer-links-main-cols {
    > .col-12 {
        border-top: 1px solid #242E50;
        padding-top: 30px;

        @include media-breakpoint-up(md) {
            border-top: 0;
            padding-top: 0;
        }
    }
}

.fhd-footer-links-main-socials {
    margin-top: 35px;
    padding-bottom: 35px;

    @include media-breakpoint-up(md) {
        margin-top: 70px;
        padding-bottom: 0px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-right: 20px;
    }

    img {
        width: 24px;
    }
}

.fhd-footer-copyright {
    padding: 25px 0px;
    background-color: #fff;

    p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        color: #49516D;
        text-align: center;

        margin-bottom: 0;
    }
}
</style>
