<template>
    <div class="fhd-side-menu">
        <div class="fhd-side-menu-section" v-for="(section, idx) in sections" :key="`fhd-side-menu-section-${idx}`">
            <heading-block>{{ section.heading }}</heading-block>
            <menu>
                <li v-for="(item, idx) in section.items" :key="`fhd-side-menu-section-item-${idx}`">
                    <template v-if="item.link.startsWith('/')">
                        <nuxt-link :to="item.link">{{ item.label }}</nuxt-link>
                    </template>
                    <template v-else>
                        <a :href="item.link" target="_blank">{{ item.label }}</a>
                    </template>
                </li>
            </menu>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

import HeadingBlock from '@/components/typography/heading-block.vue'

@Component({
    props: {
        sections: {
            type: Array,
            required: true
        }
    },
    components: {
        HeadingBlock
    }
})
export default class FhdSideMenu extends Vue {
}
</script>

<style lang="scss" scoped>
    @import "@/assets/scss/variables";

    .fhd-side-menu {
        width: 300px;
        padding-left: 20px;
    }

    .fhd-side-menu-section {
        margin-bottom: 45px;
    }

    menu {
        margin: 0;
        padding: 0;

        list-style-type: none;

        li {
            margin: 20px 0px;
            
            a {
                display: inline-block;
                width: 100%;
                border-left: 10px solid $clr-gray;
                padding-left: 20px;
                font-size: 1.75rem;
                color: $clr-secondary;
                font-family: $font-family-secondary;

                &:hover {
                    text-decoration: none;
                    border-color: $clr-primary;
                    font-weight: 700;
                }
            }
        }
    }
</style>