<template>
    <header :class="{'fhd-header': true, 'fhd-header-dark': isDark || isScrolled}">
        <!-- Desktop menu and mobile toggle -->
        <div class="container fhd-header-container">
            <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-auto">
                    <nuxt-link :to="localePath('/')" class="root-link">
                        <img :src="logoImgSrc" />
                    </nuxt-link>
                </div>
                <!-- Desktop Menu -->
                <div class="col-auto d-none d-md-block">
                    <menu>
                        <li v-for="menuItem in menuItems" :key="`fhd-header-menu-item-${menuItem.link}`">
                            <template v-if="!menuItem.isExternal">
                                <nuxt-link :to="menuItem.link">{{ menuItem.label }}</nuxt-link>
                            </template>
                            <template v-else>
                                <a :href="menuItem.link" target="_blank">{{ menuItem.label }}</a>
                            </template>
                        </li>
                    </menu>
                </div>
                <!-- Desktop Language selector -->
                <div class="col d-none d-md-block">
                    <!-- TODO: Switch on when we have English version -->
                    <!-- <div class="fhd-header-language">
                        <a href="">English</a>
                    </div>                     -->
                </div>
                <!-- Mobile menu -->
                <div class="col d-block d-md-none">
                    <div class="fhd-header-mobile-menu-toggle" @click="isMobileMenuOpen = true">
                        <img :src="mobileMenuIconSrc" alt="Zobrazit menu" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile menu (side-docked) -->
        <div class="fhd-header-mobile-menu" v-show="isMobileMenuOpen">
            <div class="container">
                <!-- Controls -->
                <div class="row fhd-header-mobile-menu-controls align-items-center">
                    <div class="col-auto">
                        <nuxt-link :to="localePath('/')" class="root-link">
                            <img :src="logoImgSrc" />
                        </nuxt-link>
                    </div>
                    <div class="col">
                        <div class="fhd-header-mobile-menu-toggle" @click="isMobileMenuOpen = false">
                            <img :src="mobileCloseIconSrc" alt="Skrýt menu" />
                        </div>
                    </div>
                </div>
                <!-- Menu items -->
                <div class="row">
                    <div class="col">
                        <menu>
                            <li v-for="menuItem in menuItems" :key="`fhd-header-mobile-menu-item-${menuItem.link}`">
                                <template v-if="!menuItem.isExternal">
                                    <nuxt-link :to="menuItem.link" @click.native="isMobileMenuOpen=false">{{ menuItem.label }}</nuxt-link>
                                </template>
                                <template v-else>
                                    <a :href="menuItem.link" target="_blank" @click="isMobileMenuOpen=false">{{ menuItem.label }}</a>
                                </template>
                            </li>
                        </menu>
                    </div>
                </div>
                <!-- Language selector -->
                <!-- TODO: Switch on when we have English version -->
                <!-- <div class="row fhd-header-mobile-menu-language-row">
                    <div class="col">
                        <div class="fhd-header-mobile-menu-language">
                            <a href="">English</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </header>
</template>

<script>
import menuContent from '@/assets/content/navigation/cs-main-menu.json'

import famuWhiteLogo from '@/assets/images/hd-logo-white.svg'
import famuDarkLogo from '@/assets/images/hd-logo-dark.svg'

import mobileHamburgerIconWhite from '@/assets/images/menu-hamburger-white.svg'
import mobileHamburgerIconDark from '@/assets/images/menu-hamburger-dark.svg'

import mobileCloseIconWhite from '@/assets/images/menu-close-white.svg'
import mobileCloseIconDark from '@/assets/images/menu-close-dark.svg'

const DEFAULT_DATA = {
    isMobileMenuOpen: false,
    isScrolled: false
}

export default {
    props: {
        isDark: {
            type: Boolean,
            default: false
        },
        menuContent: {
            type: Object,
            required: true
        }
    },

    mounted () {
        window.addEventListener('scroll', this.handleScroll);
    },

    destroyed () {
        window.removeEventListener('scroll', this.handleScroll);
    },

    methods: {
        handleScroll (e) {
            if (window.scrollY > 0) {
                this.isScrolled = true
            } else {
                this.isScrolled = false
            }
        }
    },

    computed: {
        menuItems () {
            if (this.menuContent.items) {
                return this.menuContent.items.map(i => {
                    if (i.link.startsWith('http')) {
                        i.isExternal = true
                    } else {
                        i.isExternal = false
                    }

                    return i
                })
            }

            return []
        },
        logoImgSrc () {
            return (this.isDark || this.isScrolled) && !this.isMobileMenuOpen ? famuDarkLogo : famuWhiteLogo
        },
        mobileMenuIconSrc () {
            return (this.isDark || this.isScrolled) && !this.isMobileMenuOpen ? mobileHamburgerIconDark : mobileHamburgerIconWhite
        },
        mobileMenuIconDebug () {
            return (this.isDark || this.isScrolled) && !this.isMobileMenuOpen
        },
        mobileCloseIconSrc () {
            return (this.isDark || this.isScrolled) && !this.isMobileMenuOpen ? mobileCloseIconDark : mobileCloseIconWhite
        }
    },

    data () {
        return Object.assign({}, DEFAULT_DATA)
    }
}
</script>

<style lang="scss" scoped>
    @import "@/assets/scss/variables.scss";

    // Variables
    $fhd-menu-font-size: 14px;

    .root-link {
        &:hover {
            text-decoration: none;
        }
    }

    .fhd-header {
        display: block;
        position: fixed;
        z-index: 9000;

        background-color: transparent;

        height: 80px;
        width: 100vw;

        .container {
            height: 100%;
        }

        .fhd-header-container > .row {
            height: 100%;
        }

        menu {
            display: block;
            list-style-type: none;

            li {
                display: inline-block;
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        a {
            // Font
            color: $font-clr-white;
            font-family: Archivo;
            font-style: normal;
            font-weight: 500;
            font-size: $fhd-menu-font-size;
            line-height: 16px;

            padding-bottom: 5px;

            &:hover {
                text-decoration: none;

                border-bottom: 1px solid $font-clr-white;
            }
        }
    }

    .fhd-header-language {
        display: block;
        text-align: right;
    }

    // Mobile menu
    .fhd-header-mobile-menu-toggle {
        text-align: right;

        img {
            cursor: pointer;
        }
    }

    .fhd-header-mobile-menu {
        display: block;
        position: fixed;
        z-index: 9000;

        top: 0px;
        left: 0px;

        background-color: #180004;
        background: linear-gradient(107.09deg, #180004 5.57%, #261B1D 90.16%);

        width: 100vw;
        height: 100vh;

        > .container {
            padding-left: 15px;
            padding-right: 15px;
        }

        menu {
            margin-top: 0px;
            li {
                display: block;
                text-align: right;

                margin-top: 30px;
                margin-bottom: 30px;
                margin-left: 0px;
                margin-right: 30px;
            }

            a {
                font-family: Archivo;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 44px;
            }
        }
    }

    .fhd-header-mobile-menu-controls {
        height: 80px;
    }

    .fhd-header-mobile-menu-language-row {
        position: absolute;
        bottom: 50px;
        right: 25px;
        width: 100%;
    }

    .fhd-header-mobile-menu-language {
        text-align: right;
        margin-right: 25px;

        a {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
    }

    // Dark styling for pages with white background
    .fhd-header-dark {
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        a {
            color: $font-clr-dark;

            &:hover {
                border-bottom: 1px solid $font-clr-dark;
            }
        }

        .fhd-header-mobile-menu {
            a {
                color: #fff;
            }
        }
    }
</style>
