<template>
    <div class="container fhd-col-with-sidemenu">
        <div class="row">
            <div class="col main-col">
                <slot name="main" />
            </div>
            <div class="col col-sm-auto">
                <slot name="side" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
@import "@/assets/scss/variables.scss";


</style>