@import "./mixins";
@import "./variables";

.txt-red {
    color: #DF0024;
}

// Markdown
.fhd-markdown-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    color: #555A73;

    @include media-breakpoint-up(md) { 
        font-size: 20px;
        line-height: 36px;
    }

    p {}

    h2 {
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        color: #0C173C;
        margin-top: 40px;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) { 
            font-size: 40px;
            margin-top: 60px;
        }

        &:after {
            content: '.';
            color: #DF0024;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        color: #0C173C;
        margin-top: 40px;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) { 
            font-size: 32px;
            margin-top: 60px;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #0C173C;
        margin-top: 20px;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) { 
            font-size: 32px;
            margin-top: 40px;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    table {
        width: 100%;
        margin: 20px 0px;

        th {
            font-size: 14px;
            padding: 5px;
        }
        td {
            font-size: 14px;
            padding: 5px;
        }
    }

    ul, ol {
        padding-left: 20px;
        @include media-breakpoint-up(md) {
            padding-left: 40px;
        }

        li {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    blockquote {
        
    }
}

// Blockquotes
.blockquote {
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #555A73;
    z-index: 1;

    .inner {
        position: relative;
        z-index: 1;
    }

    &::before {
        display: block;
        position: absolute;
        left: -20px;
        top: -15px;
        width: 40px;
        height: 32px;
        content: ' ';
        z-index: 0;

        background-image: url('../images/blockquote-start.svg');
    }

    &::after {
        display: block;
        position: absolute;
        right: 0px;
        bottom: -15px;
        width: 40px;
        height: 32px;
        content: ' ';
        z-index: 0;

        background-image: url('../images/blockquote-end.svg');
    }
}

.h1-main {
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #0C173C;
    margin-top: 40px;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) { 
        font-size: 40px;
        margin-top: 60px;
    }

    &:after {
        content: '.';
        color: #DF0024;
    }

    &:first-child {
        margin-top: 0;
    }
}