$clr-primary: #E50000;
$clr-secondary: #000000;

$clr-white: #fff;
$clr-gray: #C4C4C4;

$font-family-secondary: 'Raleway', sans-serif;

$font-size-xl: 2rem;
$font-size-l: 1.75rem;
$font-size-m: 1.5rem;
$font-size-text: 1rem;

$font-clr-white: #fff;
$font-clr-dark: #0C173C;