<template>
    <nuxt-link :to="link" class="fhd-person-thumbnail" v-if="link">
        <div class="photo" :style="`background-image: url(${photoSrc});`" v-if="photoSrc"></div>
        <div class="name">{{ name }}</div>
        <div class="position" v-if="shortBio">{{ shortBio }}</div>
    </nuxt-link>
    <div class="fhd-person-thumbnail" v-else>
        <div class="photo" :style="`background-image: url(${photoSrc});`" v-if="photoSrc"></div>
        <div class="name">{{ name }}</div>
        <div class="position" v-if="shortBio">{{ shortBio }}</div>
    </div>
</template>

<script>
const DEFAULT_DATA = {}

export default {
    props: {
        name: {
            type: String,
            required: true
        },
        shortBio: {
            type: String,
            required: false,
        },
        photoSrc: {
            type: String,
            required: false
        },
        link: {
            type: String,
            required: true
        }
    },
    data () {
        return Object.assign({}, DEFAULT_DATA)
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.fhd-person-thumbnail {
    display: block;
    margin-bottom: 40px;

    &:hover {
        text-decoration: none;
    }

    .photo {
        display: block;
        width: 100%;
        height: 110px;
        
        background-size: cover;
        background-position: center center;

        margin-bottom: 15px;
    }

    .name {
        text-transform: uppercase;

        font-family: Archivo;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #0C173C;
    }

    .position {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #DF0024;
    }
}
</style>