<template>
    <div class="fhd-btn-cta">
        <slot />
        <img class="fhd-btn-cta-arrow" :src="ctaButtonArrowSrc" alt="Šipka" />
    </div>
</template>

<script>
import ctaButtonArrowSrc from '@/assets/images/cta-button-arrow.svg'

export default {
    data () {
        return {
            ctaButtonArrowSrc
        }
    }
}
</script>

<style lang="scss" scoped>
.fhd-btn-cta {
    display: inline-block;
    cursor: pointer;

    background: #FFFFFF;
    border: 1px solid #E2E5F2;
    box-sizing: border-box;
    padding: 25px;

    text-transform: uppercase;

    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0C173C;
}

.fhd-btn-cta-arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: -2px;
}
</style>