<template>
    <nuxt-link :to="link" :class="{'fhd-article-thumbnail': true, 'large': size=='large'}" :style="thumbnailStyle">
        <div class="row align-items-end">
            <div class="col">
                <div class="fhd-article-thumbnail-heading">
                    <h3>{{ title }}</h3>
                    <template v-if="size=='large'">
                        <p>{{ subHeading }}</p>
                    </template>
                </div>
            </div>
        </div>
    </nuxt-link>
</template>

<script>
const DEFAULT_DATA = {}

export default {
    props: {
        size: {
            type: String,
            required: false,
            default: 'small'
        },
        title: {
            type: String,
            required: true
        },
        subHeading: {
            type: String,
            required: true
        },
        bgImageUrl: {
            type: String,
            required: true
        },
        link: {
            type: String,
            required: true
        }
    },

    created () {

    },

    mounted () {

    },

    methods: {

    },

    computed: {
        thumbnailStyle () {
            return `background-image: url('${this.bgImageUrl}')`
        }
    },

    data () {
        return Object.assign({}, DEFAULT_DATA)
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

.fhd-article-thumbnail {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;    

    margin: 15px 0px;
    
    &.large {
        height: 450px;       

        .fhd-article-thumbnail-heading {
            padding: 25px;

            h3 {
                font-size: $font-size-l;
                margin-bottom: 5px;
            }
        }
    }

    .row {
        height: 100%;
    }

    background-position: center center;
    background-size: cover;

    .fhd-article-thumbnail-heading {
        display: block;
        
        padding: 15px 25px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;

        h3 {
            font-family: $font-family-secondary;
            font-size: $font-size-m;
            font-weight: 700;
            margin: 0;
        }

        p {
            margin-bottom: 0;
            font-size: $font-size-m;
        }
    }

    &:hover {
        text-decoration: none;
    
        .fhd-article-thumbnail-heading {
            background-color: rgba(0, 0, 0, 1);
        }
    }
}
</style>