<template>
  <div class="fhd-wrapper">
    <!-- Header -->
    <fhd-header
      :menuContent="menu"
      :isDark="!isOnHomepage"
    />
    <!-- Main content -->
    <div class="fhd-content-wrapper">
      <nuxt />
    </div>    
    <!-- Footer -->
    <fhd-footer
      :menuContent="footerMenu"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import fhdHeader from '@/components/layout/fhd-header.vue'
import fhdFooter from '@/components/layout/fhd-footer.vue'

export default Vue.extend({
  components: {
    fhdHeader,
    fhdFooter
  },
  computed: {
    isOnHomepage () {
      return this.$route.path == '/'
    }
  },
  async fetch () {
    this.menu = await this.$content('navigation', 'cs-main-menu').fetch()
    this.footerMenu = await this.$content('navigation', 'cs-footer-menus').fetch()
  },
  data () {
    return {
      menu: {},
      footerMenu: {}
    }
  }
})
</script>

<style lang="scss" scoped>
.fhd-content-wrapper {
}
</style>
