<template>
    <div class="fhd-page-about">
        <!-- About us -->
        <div class="fhd-page-about-main">
            <div class="container">
                <div class="row">
                    <div class="col fhd-page-about-intro">
                        <h1>{{ staticContentAbout.game_design_heading }}<span class="txt-red">.</span></h1>
                        <p v-html="staticContentAbout.game_design_text"></p>
                    </div>
                </div>
            </div>            
        </div>
        <!-- History -->
        <div class="fhd-page-about-history">
            <div class="container">
                <div class="row">
                    <div class="col fhd-page-about-intro">
                        <h1>{{ staticContentAbout.history_heading }}<span class="txt-red">.</span></h1>
                        <p v-html="staticContentAbout.history_text"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faculty members -->
        <div class="fhd-page-people" id="fhd_about_faculty">
            <div class="container">
                <!-- Intro -->
                <div class="row">
                    <div class="col fhd-page-about-intro">
                        <h1>{{ staticContentAbout.faculty_heading }}<span class="txt-red">.</span></h1>
                        <p v-html="staticContentAbout.faculty_text"></p>
                    </div>
                </div>
                <!-- People -->
                <div class="row fhd-page-people-list">                
                    <div class="col-6 col-md-2" v-for="person in faculty" :key="`fhd-page-people-person-${person.slug}`">
                        <person-thumbnail 
                            :link="localePath({ name: 'person', params: {slug: person.slug}})"
                            :name="person.name"
                            :shortBio="person.short_bio"
                            :photoSrc="person.photo"
                        />
                    </div>
                </div>
            </div>
        </div>
        <!-- Students -->
        <div class="fhd-page-students" id="fhd_about_students">
            <div class="container">
                <div class="row">
                    <div class="col fhd-page-about-intro">
                        <h1>Studentstvo<span class="txt-red">.</span></h1>
                    </div>
                </div>
                <!-- People -->
                <div class="row fhd-page-people-list">                
                    <div class="col-6 col-md-2" v-for="person in students" :key="`fhd-page-people-person-${person.slug}`">
                        <person-thumbnail
                            :name="person.name"
                            :shortBio="person.short_bio"
                            :photoSrc="person.photo"
                        />
                    </div>
                </div>
            </div>
        </div>
        <!-- Alumni -->
        <div class="fhd-page-alumni" id="fhd_about_alumni">
            <div class="container">
                <div class="row">
                    <div class="col fhd-page-about-intro">
                        <h1>Absolventstvo<span class="txt-red">.</span></h1>
                    </div>
                </div>
                <!-- People -->
                <div class="row fhd-page-people-list">                
                    <div class="col-6 col-md-2" v-for="person in alumni" :key="`fhd-page-people-person-${person.slug}`">
                        <person-thumbnail
                            :name="person.name"
                            :photoSrc="person.photo"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

import CtaButton from '@/components/elements/CtaButton.vue'
import PersonThumbnail from "../components/person/person-thumbnail.vue"

@Component({
    head: {
        title: 'Katedra | Herní design FAMU'
    },
    nuxtI18n: {
        paths: {
            cs: '/katedra',
            en: '/about-us'
        }
    },
    props: {
    },
    components: {
        PersonThumbnail,
        CtaButton
    }    
})
export default class PeoplePage extends Vue {
    people: FhdNetlifyCollections.Person[]
    async asyncData ({$content}) {
        const people = await $content('people').fetch()
        const staticContentAbout = await $content('static_content', 'cs-about').fetch()

        return {
            people,
            staticContentAbout
        }
    }

    get faculty () {
        return this.people.filter(p => p.type == 'faculty').sort((a, b) => {
            return b.list_priority - a.list_priority
        })
    }

    get students () {
        return this.people.filter(p => p.type == 'student').sort((a, b) => {
            return b.list_priority - a.list_priority
        })
    }

    get alumni () {
        return this.people.filter(p => p.type == 'alumni').sort((a, b) => {
            return b.list_priority - a.list_priority
        })
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.fhd-page-about-main {
    display: block;
    background: #FBF4F4;
    padding-top: 110px;
    padding-bottom: 20px;

    @include media-breakpoint-up(md) { 
        padding: 150px 0px;
        padding-top: 200px;
    }
}

.fhd-page-about-history {
    display: block;
    background-color: #fff;

    padding-top: 40px;
    padding-bottom: 20px;

    @include media-breakpoint-up(md) { 
        padding: 150px 0px;
    }
}

.fhd-page-people {
    display: block;
    background: #FBF4F4;
    padding-top: 40px;
    padding-bottom: 20px;

    @include media-breakpoint-up(md) { 
        padding: 150px 0px;
    }      
}

.fhd-page-students {
    display: block;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 20px;

    @include media-breakpoint-up(md) { 
        padding: 150px 0px;
    }      
}

.fhd-page-alumni {
    display: block;
    background: #FBF4F4;
    padding-top: 40px;
    padding-bottom: 20px;

    @include media-breakpoint-up(md) { 
        padding: 150px 0px;
    }      
}

.fhd-page-people-list {
    margin-top: 30px;

    @include media-breakpoint-up(md) { 
        margin-top: 60px;
        margin-bottom: 0px;
    }
}

.fhd-page-about-intro {
    h1 {
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        color: #0C173C;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) { 
            font-size: 56px;
            line-height: 64px;
        }
    }
    p {
        font-family: Archivo;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #0C173C;

        max-width: 800px;
    }
}  
</style>