<template>
    <div class="fhd-game">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="fhd-game-wrapper">
                        <!-- Intro image -->
                        <div class="fhd-game-image-intro" :style="`background-image: url('${$img(game.main_image, {width: 1100})}');`"></div>
                        <!-- Heading -->
                        <h1 class="h1-main">{{ game.name }}</h1>
                        <!-- Text -->
                        <div class="fhd-game-text">
                            <md-content-block :content="game.about" />
                        </div>
                        <!-- Download -->
                        <template v-if="game.external_url">
                            <a :href="game.external_url" target="_blank">
                                <cta-button>
                                    Stáhnout na Itch.io
                                </cta-button>
                            </a>
                        </template>
                        <template v-if="game.steam_url">
                            <a :href="game.steam_url" target="_blank" class="steam-button">
                                <cta-button>
                                    Stáhnout na Steamu
                                </cta-button>
                            </a>
                        </template>
                        <!-- Screenshots -->
                        <template v-if="game.screenshots && game.screenshots.length">
                            <h1 class="h1-main">Screenshoty</h1>
                            <div class="fhd-game-screenshots">
                                <div class="row">
                                    <div class="col-12 col-sm-4" v-for="(screenshot, idx) in game.screenshots" :key="`fhd-game-screenshot-${idx}`">
                                        <a :href="screenshot.image" target="_blank">
                                            <nuxt-img width="350" :src="screenshot.image" :alt="screenshot.description" class="fhd-game-screenshot" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <!-- Back -->
                        <h1 class="h1-main">Zpátky</h1>
                        <nuxt-link to="/hry">
                            <cta-button>
                                Zpátky na seznam her
                            </cta-button>
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

import mdContentBlock from "@/components/typography/md-content-block.vue"
import CtaButton from '@/components/elements/CtaButton.vue'
import HeadingBlock from '@/components/typography/heading-block.vue'

@Component({
    nuxtI18n: {
        paths: {
            cs: '/hra/:slug',
            en: '/game/:slug'
        }
    },
    props: {
    },
    components: {
        CtaButton,
        mdContentBlock,
        HeadingBlock
    }
})
export default class GamePage extends Vue {
    async asyncData ({ $content, params }) {
        return {
            game: await $content('games', params.slug).fetch()
        }
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.container {
    padding-top: 80px;
}

.fhd-game-wrapper {
    padding-bottom: 50px;
}

.fhd-game-image-intro {
    display: block;
    width: 100%;

    height: 200px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    margin: 20px 0px;
}

.h1-main {
    margin-top: 20px;
}

.fhd-game-text {
    margin-bottom: 20px;
}

.fhd-game-screenshots {
    margin: 20px 0;
}

.fhd-game-screenshot {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.back-to-games {
    color: #0C173C;
    &:hover {
        text-decoration: none;
    }
}

.steam-button {
    display: inline-block;
    margin-top: 10px;

    @include media-breakpoint-up(md) {
        margin-left: 10px;
    }
}
</style>
