<template>
    <div class="hd-games">
        <div class="container">
            <!-- 2nd year games -->
            <div class="row">
                <div class="col">
                    <h1 class="h1-main">Absolventské hry</h1>
                    <p class="category-description">
                        V druhém ročníku studentstvo pracuje na své absolventské hře. Absolventská hra by měla být kompletní dílo, které se dá dohrát od začátku až do konce a reprezentuje všechny koncepty, které student(ka) navrhl(a), v dostatečné kvalitě a míře propracovanosti. Některé absolventské hry svou cestu na státnicích končí, jiné pokračují směrem ke komercionalizaci a následné distribuci.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 game-thumbnail-container" v-for="game in gamesCategorized['2nd_year']" :key="`hd-homepage-game-${game.slug}`">
                    <game-thumbnail
                        :title="game.name"
                        :authors="game.authors_names"
                        :dateReleased="game.release_date"
                        :bgImageUrl="game.main_image"
                        :link="localePath({name: 'game', params: {slug: game.slug}})"
                        :canBeDownloaded="!!game.external_url"
                    />
                </div>
            </div>

            <!-- 1st year games -->
            <div class="row m-top">
                <div class="col">
                    <h1 class="h1-main">Klauzurní hry 1. ročníku</h1>
                    <p class="category-description">
                        V prvním ročníku mají studenti za úkol vytvořit herní prototyp. Herní prototyp by měl obsahovat základní herní mechaniky a jiné části díla, které student(ka) považuje za důležité. Tato klauzurní hra je vytvořena během jednoho semestru a studenti ji prezentují na klauzurní prezentaci na konci prvního ročníku.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 game-thumbnail-container" v-for="game in gamesCategorized['1st_year']" :key="`hd-homepage-game-${game.slug}`">
                    <game-thumbnail
                        :title="game.name"
                        :authors="game.authors_names"
                        :dateReleased="game.release_date"
                        :bgImageUrl="game.main_image"
                        :link="localePath({name: 'game', params: {slug: game.slug}})"
                        :canBeDownloaded="!!game.external_url"
                    />
                </div>
            </div>

            <!-- Game Jams -->
            <div class="row m-top">
                <div class="col">
                    <h1 class="h1-main">Hry z game jamů</h1>
                    <p class="category-description">
                        Game Jam je akce, v rámci které mají týmy za úkol vytvořit hru za 48 hodin.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 game-thumbnail-container" v-for="game in gamesCategorized['game_jam']" :key="`hd-homepage-game-${game.slug}`">
                    <game-thumbnail
                        :title="game.name"
                        :authors="game.authors_names"
                        :dateReleased="game.release_date"
                        :bgImageUrl="game.main_image"
                        :link="localePath({name: 'game', params: {slug: game.slug}})"
                        :canBeDownloaded="!!game.external_url"
                    />
                </div>
            </div>

            <!-- Other works -->
            <div class="row m-top">
                <div class="col">
                    <h1 class="h1-main">Volná tvorba</h1>
                    <p class="category-description">
                        Hry, které naši studenti vytvořili mimo školní zadání.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 game-thumbnail-container" v-for="game in gamesCategorized['other']" :key="`hd-homepage-game-${game.slug}`">
                    <game-thumbnail
                        :title="game.name"
                        :authors="game.authors_names"
                        :dateReleased="game.release_date"
                        :bgImageUrl="game.main_image"
                        :link="localePath({name: 'game', params: {slug: game.slug}})"
                        :canBeDownloaded="!!game.external_url"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

import fhdSideMenu from '@/components/layout/fhd-side-menu.vue'
import colWithSidemenu from '@/components/layout/fhd-col-with-sidemenu.vue'
import headingBlock from '@/components/typography/heading-block.vue'

import gameThumbnail from "../components/games/game-thumbnail.vue"

@Component({
    nuxtI18n: {
        paths: {
            cs: '/hry',
            en: '/games'
        }
    },
    props: {
    },
    components: {
        fhdSideMenu,
        colWithSidemenu,
        headingBlock,
        gameThumbnail
    }
})
export default class GamesPage extends Vue {
    games!: FhdNetlifyCollections.Game[]
    latestGames!: FhdNetlifyCollections.Game[]

    get latestGamesMenu () {
        if (!this.latestGames) {
            return []
        }

        return [
            {
                heading: 'Nejnovější hry',
                items: this.latestGames.map(g => {
                    return {
                        label: g.name,
                        link: this.localePath({name: 'game', params: {slug: g.slug}})
                    }
                })
            }
        ]
    }

    async asyncData ({ $content }) {
        const games: any[] = await $content('games').fetch()

        // Populate
        for (const g of games) {
            if (g.authors.length) {
                g.authors_populated = await $content('people').where({ slug: { $in: g.authors.map(a => a.person) } }).fetch()
                g.authors_names = g.authors_populated.map(ap => ap.name)
            }
        }

        // Categorize
        const gamesCategorized: Record<string, any> = {}
        for (const g of games) {
            if (!gamesCategorized[g.type]) {
                gamesCategorized[g.type] = []
            }

            gamesCategorized[g.type].push(g)
        }

        Object.keys(gamesCategorized).map(k => {
            gamesCategorized[k].sort((a, b) => {
                return new Date(b.release_date).getTime() - new Date(a.release_date).getTime()
            })
        })

        // Return
        return {
            games,
            gamesCategorized,
            latestGames: games.slice(0, 5)
        }
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.container {
    padding-top: 100px;
    padding-bottom: 50px;

    @include media-breakpoint-up(md) {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

.m-top {
    @include media-breakpoint-up(md) {
        margin-top: 50px;
    }
}

.category-description {
    margin-top: -10px;
    margin-bottom: 30px;
}

.game-thumbnail-container {
    padding-bottom: 20px;
}
</style>
