<template>
    <div class="fhd-page-index">
        <!-- Hero Part -->
        <div class="fhd-page-index-hero">
            <div class="container">
                <!-- TODO: Find out what to do with illustration -->
                <!-- <img class="fhd-page-index-hero-illustration" :src="heroIllustrationSrc"> -->
                <div class="row">
                    <div class="col">
                        <div class="fhd-page-index-hero-heading">
                            <h1>{{ staticHomepageContent.hero_heading }}<span class="txt-red">.</span></h1>
                            <p v-html="staticHomepageContent.hero_subheading"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Crossroads part -->
            <div class="fhd-page-index-crossroads">
                <menu>
                    <li>
                        <nuxt-link to="/studium">O studiu</nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/prijimaci-rizeni">Pro uchazeče</nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/katedra">O katedře</nuxt-link>
                    </li>
                </menu>
            </div>
        </div>
        <!-- About Us Part -->
        <div class="fhd-page-index-about-us">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 order-12 col-md-5 order-md-1">
                        <img class="fhd-page-index-about-us-illustration" :src="aboutUsIllustrationSrc" />
                    </div>
                    <div class="col-12 order-1 col-md-6 offset-md-1 order-md-12">
                        <h1>{{ staticHomepageContent.about_heading }}<span class="txt-red">.</span></h1>
                        <h2>{{ staticHomepageContent.about_subheading }}</h2>
                        <p></p>
                        <p v-html="staticHomepageContent.about_text"></p>

                        <nuxt-link :to="localePath({name: 'staticPage', params: {slug: 'studium'}})">
                            <cta-button>Více o studiu</cta-button>
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
        <!-- News and Events Part -->
        <div class="fhd-page-index-news">
            <div class="container">
                <div class="row">
                    <!-- News -->
                    <div class="col-12 col-md-7">
                        <h1>Novinky z Instagramu</h1>
                        <!-- Items -->
                        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/C1_n383ANMQ/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/C1_n383ANMQ/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/C1_n383ANMQ/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Herní design FAMU (@game_design_famu)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
                    </div>
                    <!-- Events -->
                    <div class="col-12 col-md-4 offset-md-1">
                        <h1 class="fhd-page-index-news-events-heading">Události</h1>
                        <div class="fhd-page-index-news-events">
                            <!-- Items -->
                            <div class="fhd-page-index-news-events-item" v-for="(ev, idx) in latestEvents" :key="`fhd-page-index-news-events-item-${idx}`">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="fhd-page-index-news-events-item-date">
                                            <span class="number">{{ ev.date_day }}</span>
                                            <span class="month">{{ ev.date_month }}</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <span>
                                            {{ ev.title }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faculty Part -->
        <div class="fhd-page-index-faculty">
            <div class="container">
                <!-- Heading -->
                <div class="row">
                    <div class="col">
                        <h1>
                            Kdo tě bude učit<span class="txt-red">.</span>
                        </h1>
                    </div>
                </div>
                <!-- Members -->
                <div class="row fhd-page-index-faculty-members">
                    <!-- Items -->
                    <div class="col-6 col-md-2" v-for="person in facultySelection" :key="`fhd-page-index-faculty-${person.slug}`">
                        <person-thumbnail
                            :link="localePath({ name: 'person', params: {slug: person.slug}})"
                            :name="person.name"
                            :shortBio="person.short_bio"
                            :photoSrc="person.photo"
                        />
                    </div>
                </div>
                <!-- More members -->
                <div class="row" v-if="faculty.length > 6">
                    <div class="col">
                        <nuxt-link :to="{path: localePath({ name: 'about' }), hash: '#fhd_about_faculty'}">
                            <cta-button>Všichni vyučující</cta-button>
                        </nuxt-link>
                    </div>
                </div>
                <!-- Quote -->
                <div class="row">
                    <div class="col">
                        <div class="fhd-page-index-faculty-quote">
                            <blockquote class="blockquote">
                                <span class="inner">
                                    Čeští herní vývojáři náleží už nyní ke světové špičce a tento chystaný studijní program je unikátní mimo jiné tím, že je postavený právě na spolupráci s lidmi z praxe. Zároveň těží z interdisciplinárního zázemí FAMU a z důrazu na uměleckou kreativitu, který je této škole vlastní.
                                </span>
                            </blockquote>
                            <p class="fhd-page-index-faculty-quote-author">
                                - Helena Bendová, zakladatelka oboru
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

import { DateTime } from 'luxon'

import CtaButton from '@/components/elements/CtaButton.vue'
import PersonThumbnail from "../components/person/person-thumbnail.vue"

import heroIllustrationSrc from '@/assets/images/index/hero.png'
import aboutUsIllustrationSrc from '@/assets/images/index/famu.jpg'
import articleBoxArrowSrc from '@/assets/images/article-box-arrow.svg'

@Component({
    components: {
        CtaButton,
        PersonThumbnail
    }
})
export default class IndexPage extends Vue {
    // Image sources
    get heroIllustrationSrc () {
        return heroIllustrationSrc
    }
    get aboutUsIllustrationSrc () {
        return aboutUsIllustrationSrc
    }
    get articleBoxArrowSrc () {
        return articleBoxArrowSrc
    }

    // ===
    // CMS Async data
    // ===
    articles: any[]
    events: any[]
    faculty: any[]
    async asyncData({ $content }) {
        const articles = await $content('articles').fetch()
        const events = await $content('events').fetch()
        const faculty = await $content('people').where({ type: 'faculty' }).fetch()
        const staticHomepageContent = await $content('static_content', 'cs-homepage').fetch()

        return {
            articles,
            events,
            faculty,
            staticHomepageContent
        }
    }

    // News and events
    get latestArticles () {
        return this.articles.slice(0).sort((a, b) => {
            const aL = DateTime.fromISO(a.date_published)
            const bL = DateTime.fromISO(b.date_published)

            if (bL > aL) {
                return 1
            } else {
                return -1
            }
        }).slice(0, 5).map(a => {
            return Object.assign({}, a, {
                date_published_formatted: DateTime.fromISO(a.date_published).toFormat('d MMM yyyy'),
            })
        })
    }

    // Events
    get latestEvents () {
        return this.events.slice(0).sort((a, b) => {
            const aL = DateTime.fromISO(a.event_date)
            const bL = DateTime.fromISO(b.event_date)

            if (bL > aL) {
                return -1
            } else {
                return 1
            }
        }).slice(0, 5).map(e => {
            return Object.assign({}, e, {
                date_day: DateTime.fromISO(e.event_date, {locale: 'cs'}).toFormat('d'),
                date_month: DateTime.fromISO(e.event_date, {locale: 'cs'}).toFormat('LLL')
            })
        })
    }

    // Faculty
    get facultySelection () {
        return this.faculty.slice(0).sort((a, b) => {
            return b.front_page_priority - a.front_page_priority
        }).slice(0, 6)
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

// ===
// HERO
// ===
.fhd-page-index-hero {
    position: relative;
    background: linear-gradient(107.09deg, #180004 5.57%, #261B1D 90.16%);

    .fhd-page-index-hero-illustration {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 800px;
    }

    > .container {
        position: relative;
        height: 100%;
    }

    .fhd-page-index-hero-heading {
        h1 {
            font-family: Archivo;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -1px;
            color: #FFFFFF;
        }
        p {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 0;
            margin-top: 30px;
        }
    }

    padding-top: 110px;
    padding-bottom: 100px;

    @include media-breakpoint-up(md) {
        min-height: 700px;
        padding-top: 230px;
        padding-bottom: 0;

        .fhd-page-index-hero-heading {
            h1 {
                max-width: 740px;
                margin-bottom: 30px;

                font-family: Archivo;
                font-style: normal;
                font-weight: bold;
                font-size: 72px;
                line-height: 88px;
                letter-spacing: -1px;
                color: #FFFFFF;
            }
            p {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 36px;
                color: #FFFFFF;
                max-width: 450px;
            }
        }
    }
}
.fhd-page-index-crossroads {
    display: block;
    background-color: #DF0024;
    position: relative;

    @include  media-breakpoint-down(sm) {
        margin: 0px 15px;
        margin-top: 30px;
        margin-bottom: -300px;

        menu {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                width: 80%;
                margin: 0 auto;
                padding: 20px 0px;
                text-align: center;

                border-bottom: 1px solid rgba(255, 255, 255, 0.4);

                &:last-child {
                    border-bottom: 0;
                }

                a {
                    text-transform: uppercase;
                    font-family: Archivo;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 64px;
                    color: #FFFFFF;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        position: absolute;
        right: 0px;
        bottom: -60px;

        height: 120px;
        width: 60%;

        menu {
            margin: 0;
            margin-top: 28px;
            padding: 0;

            li {
                list-style-type: none;
                display: inline-block;
                padding: 0px 60px;

                border-right: 1px solid rgba(255, 255, 255, 0.4);
                height: 64px;

                &:last-child {
                    border-right: 0;
                }

                a {
                    text-transform: uppercase;
                    font-family: Archivo;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 64px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

// ===
// ABOUT US
// ===

.fhd-page-index-about-us {
    background-color: #FBF4F4;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 250px;

    h1 {
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        color: #0C173C;

        margin-bottom: 20px;
    }

    h2 {
        font-family: Archivo;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #0C173C;

        margin-bottom: 20px;
    }

    p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        /* or 200% */
        color: #555A73;

        margin-bottom: 20px;
    }


    @include media-breakpoint-up(md) {
        margin-top: 150px;
        padding: 150px 0px;

        h1 {
            font-size: 56px;
            line-height: 64px;
            max-width: 400px;

            margin-bottom: 30px;
        }
        h2 {
            font-size: 24px;
            line-height: 36px;
            max-width: 355px;

            margin-bottom: 30px;
        }
        p {
            font-size: 20px;
            line-height: 36px;
            max-width: 650px;

            margin-bottom: 30px;
        }
    }
}

.fhd-page-index-about-us-illustration {
    display: block;
    width: 100%;
    margin-top: 30px;

    @include media-breakpoint-up(md) {
        width: 100%;
        margin-top: 0;
    }
}

// ===
// === NEWS
// ===

.fhd-page-index-news {
    display: block;

    h1 {
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        color: #0C173C;
        margin-bottom: 20px;
    }

    padding: 50px 0px;

    @include media-breakpoint-up(md) {
        padding: 100px 0px;

        h1 {
            font-size: 40px;
            line-height: 64px;
            margin-bottom: 20px;
        }
    }
}

.fhd-page-index-news-events-heading {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}

.fhd-page-index-news-article {
    display: block;
    cursor: pointer;
    background-color: #F4F5FB;
    padding: 25px 25px;

    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0px;
    }

    .fhd-page-index-news-article-date {
        font-family: Archivo;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #49516D;

        padding: 5px 0px;
        padding-left: 15px;
        border-left: 2px solid #DF0024;

        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            margin-bottom: 0px;
        }
    }

    .fhd-page-index-news-article-heading {
        font-family: Archivo;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #0C173C;

        margin-bottom: 0;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        margin-top: -5px;
    }

    &:hover {
        text-decoration: none;
        background-color: #DF0024;

        .fhd-page-index-news-article-date {
            border-color: #fff;
            color: #fff;
        }

        .fhd-page-index-news-article-heading {
            color: #fff;
        }
    }
}

.fhd-page-index-news-events {
    display: block;
    padding: 25px;
    background: #F4F5FB;

    .fhd-page-index-news-events-item {
        display: block;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .fhd-page-index-news-events-item span {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #0C173C;
    }

    .fhd-page-index-news-events-item-date {
        padding: 10px;
        background: #FFFFFF;
        border: 1px solid #E2E5F2;
        box-sizing: border-box;

        .number {
            display: block;
            font-family: Archivo;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #DF0024;
        }

        .month {
            display: block;
            text-transform: capitalize;
            font-family: Archivo;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #0C173C;
        }
    }
}

// ===
// === FACULTY
// ===
.fhd-page-index-faculty {
    display: block;
    background: #FBF4F4;
    padding: 50px 0px;

    @include media-breakpoint-up(md) {
        padding: 100px 0px;
    }

    h1 {
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;

        margin-bottom: 40px;

        @include media-breakpoint-up(md) {
            font-size: 56px;
            line-height: 64px;
        }
    }
}

.fhd-page-index-faculty-member {
    display: block;
    margin-bottom: 40px;

    .photo {
        display: block;
        width: 100%;
        height: 110px;

        background-size: cover;
        background-position: center center;

        margin-bottom: 15px;
    }

    .name {
        text-transform: uppercase;

        font-family: Archivo;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #0C173C;
    }

    .position {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #DF0024;
    }
}

.fhd-page-index-faculty-members {
    @include media-breakpoint-up(md) {
        margin-top: 50px;
    }
}

.fhd-page-index-faculty-quote {
    display: block;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 60px;

    @include media-breakpoint-up(md) {
        margin-top: 100px;
    }
}

.fhd-page-index-faculty-quote-author {
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0C173C;

    margin-top: 30px;
}
</style>
