<template>
    <div class="fhd-page-person">
        <div class="container">
            <!-- About -->
            <div class="row">
                <div class="col col-md-3">
                    <div class="fhd-page-person-photo" :style="`background-image: url(${person.photo});`"></div>
                </div>
                <div class="col fhd-page-person-about">
                    <h1>{{ person.name }}<span class="txt-red">.</span></h1>
                    <h2>{{ person.short_bio }}</h2>
                </div>
            </div>
            <!-- Bio -->
            <div class="row">
                <div class="col">
                    <div class="fhd-markdown-text" v-html="$md.render(person.bio)"></div>
                </div>
            </div>
            <!-- Back to all faculty / students -->
            <div class="row">
                <div class="col">
                    <nuxt-link :to="{path: localePath({ name: 'about' }), hash: '#fhd_about_faculty'}">
                        <cta-button>Zpátky na seznam vyučujících</cta-button>
                    </nuxt-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

import CtaButton from '@/components/elements/CtaButton.vue'

@Component({
    head () {
        return {
            title: `${this.person.name} | Herní design FAMU`
        }
    },
    nuxtI18n: {
        paths: {
            cs: '/profil/:slug',
            en: '/profile/:slug'
        }
    },
    props: {

    },
    components: {
        CtaButton
    }    
})
export default class PersonPage extends Vue {
    person: any
    async asyncData ({ $content, params }) {
        return {
            person: await $content('people', params.slug).fetch()
        }
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.fhd-page-person {
    display: block;
    background: #FBF4F4;
    padding-top: 110px;
    padding-bottom: 70px;

    @include media-breakpoint-up(md) { 
        padding: 150px 0px;
    }

    .fhd-page-person-photo {
        display: block;
        width: 100%;
        height: 100%;

        background-size: cover;
        background-position: center center;

        @include media-breakpoint-up(md) { 
            min-height: 200px;
        }
    }

    .fhd-page-person-about {
        h1 {
            font-family: Archivo;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 48px;
            color: #0C173C;
            margin-bottom: 20px;

            @include media-breakpoint-up(md) { 
                font-size: 56px;
                line-height: 64px;
            }
        }
        h2 {
            font-family: Archivo;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #0C173C;

            max-width: 800px;
        }
    }

    .fhd-markdown-text {
        max-width: 800px;
        margin-top: 50px;
        margin-bottom: 50px;

        @include media-breakpoint-up(md) {
            margin-bottom: 100px;
        }
    }
}
</style>