<template>
    <div class="fhd-page-static">
        <!-- Intro -->
        <div class="fhd-page-static-intro">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 order-12 col-md-4 order-md-1" v-if="staticPage.title_image">
                        <div class="fhd-page-static-photo" :style="`background-image: url(${staticPage.title_image});`"></div>
                    </div>
                    <div class="col-12 order-1 col-md order-md-12 fhd-page-static-about">
                        <h1>{{ staticPage.title }}<span class="txt-red">.</span></h1>
                        <h2 v-if="staticPage.sub_title">{{ staticPage.sub_title }}</h2>
                        <div class="fhd-page-static-date">
                            Aktualizováno: {{ updatedAtFormatted }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="fhd-page-static-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col col-md-8">
                        <div class="fhd-markdown-text" v-html="$md.render(staticPage.body)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

import { DateTime } from 'luxon'

@Component({
    head () {
        return {
            title: `${this.staticPage.title} | Herní design FAMU`
        }
    },
    nuxtI18n: {
        paths: {
            cs: '/:slug',
            en: '/:slug'
        }
    },
    props: {
    },
    components: {
    }    
})
export default class ArticlePage extends Vue {
    staticPage: FhdNetlifyCollections.StaticPage | null = null

    get updatedAtFormatted () {
        return DateTime.fromISO(this.staticPage.updated_at, {locale: 'cs'}).toFormat('DDD')
    }

    async asyncData ({ $content, params }) {
        return {
            staticPage: await $content('static_page', params.slug).fetch()
        }
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/variables.scss";

.fhd-page-static {
    .fhd-page-static-intro {
        display: block;
        background: #FBF4F4;
        padding-top: 110px;
        padding-bottom: 30px;

        @include media-breakpoint-up(md) { 
            padding: 150px 0px;
            padding-bottom: 70px;
        }

        .fhd-page-static-photo {
            display: block;
            width: 100%;
            height: 100%;

            background-size: cover;
            background-position: center center;

            min-height: 200px;
            @include media-breakpoint-up(md) { 
                min-height: 300px;
            }
        }

        .fhd-page-static-date {
            font-family: Archivo;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #49516D;

            padding: 5px 0px;
            padding-left: 15px;
            border-left: 2px solid #DF0024;

            margin-bottom: 10px;

            @include media-breakpoint-up(md) {
                margin-bottom: 0px;
            }
        }

        .fhd-page-static-about {
            h1 {
                font-family: Archivo;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 48px;
                color: #0C173C;
                margin-bottom: 20px;

                @include media-breakpoint-up(md) { 
                    font-size: 56px;
                    line-height: 64px;
                }
            }
            h2 {
                font-family: Archivo;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #0C173C;

                max-width: 800px;
                margin-bottom: 20px;
            }
        }
    }
}

.fhd-page-static-content {
    display: block;
    padding: 25px 0px;

    @include media-breakpoint-up(md) { 
        padding: 100px 0px;
    }
}
</style>