<template>
    <nuxt-link v-if="!hasExternalLink" :to="link" class="fhd-game-thumbnail">
        <div class="fhd-game-thumbnail-image" :style="thumbnailStyle">
            <div class="fhd-game-download-badge" v-if="canBeDownloaded">Ke stažení</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="fhd-game-thumbnail-heading">
                    <h3>{{ title }} ({{ $moment(dateReleased).format('YYYY') }})</h3>
                    <p class="authors" v-if="authors.length">
                        {{ authors.join(', ') }}
                    </p>
                </div>
            </div>
        </div>
    </nuxt-link>
    <a v-else :href="link" target="_blank" class="fhd-game-thumbnail">
        <div class="fhd-game-thumbnail-image" :style="thumbnailStyle"></div>
        <div class="row">
            <div class="col">
                <div class="fhd-game-thumbnail-heading">
                    <h3>{{ title }} ({{ $moment(dateReleased).format('YYYY') }})</h3>
                    <p class="authors" v-if="authors.length">
                        {{ authors.join(', ') }}
                    </p>
                </div>
            </div>
        </div>
    </a>
</template>

<script>
const DEFAULT_DATA = {}

export default {
    props: {
        title: {
            type: String,
            required: true
        },
        authors: {
            type: Array,
            default: () => {
                return []
            }
        },
        dateReleased: {
            type: String,
            required: true
        },
        bgImageUrl: {
            type: String,
            required: true
        },
        link: {
            type: String,
            required: true
        },
        hasExternalLink: {
            type: Boolean,
            default: false
        },
        canBeDownloaded: {
            type: Boolean,
            default: false
        }
    },

    created () {

    },

    mounted () {

    },

    methods: {

    },

    computed: {
        thumbnailStyle () {
            return `background-image: url('${this.$img(this.bgImageUrl, {width: 400, quality: 100})}')`
        }
    },

    data () {
        return Object.assign({}, DEFAULT_DATA)
    }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

.fhd-game-thumbnail {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #0C173C;

    .fhd-game-thumbnail-image {
        position: relative;
        display: block;
        width: 100%;
        height: 230px;
        background-position: center center;
        background-size: cover;

        .fhd-game-download-badge {
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 20px;
            background-color: #fff;
            color: #0C173C;
            padding: 5px 15px;
            font-size: 12px;
        }
    }

    .fhd-game-thumbnail-heading {
        display: block;

        padding: 15px 25px;
        padding-bottom: 15px;

        background-color: #0C173C;
        color: #fff;

        h3 {
            font-family: $font-family-secondary;
            font-size: $font-size-m;
            font-weight: 700;
            margin: 0;
        }

        p {
            margin-bottom: 0;
            font-size: $font-size-m;
        }

        .authors {
            margin-top: 5px;
            font-size: 14px;
        }
    }

    &:hover {
        text-decoration: none;
    }
}
</style>
